<div class="col-md-9">
  <div class="content-body">
    <%= raw @obj.content.html_safe %>
  </div>
</div>
<style type="text/css">
  .col-md-9{
    margin-top: 17px;
  }
	p{margin-top: 0px;margin-bottom: 5px}
</style>