<div class="col-md-3">
  <nav class="nav-bar">
    <dl> 
      <dt class="left-nav-header">PRODUCT</dt>
      <% @products_menu.each do |prod|%>
        <dd><%=link_to(prod.name,product_path(prod.id))%></dd> 
      <%end%>
    </dl> 
  </nav>

  <nav class="nav-bar">
    <dl> 
      <dt class="left-nav-header">CONTACT US</dt>
      <p>
          <strong>SOS MARINE SERVICE CO.,LTD</strong>
      </p>
      <p>
          <span>No.115,Chuansha Road Heqing Town,PuDong New District ,City Shanghai,China</span>
      </p>
      <p>
          <span >Tel:021-8357684</span>
      </p>
      <p>
          <span>Fax:0214578624</span>
      </p>
      <p>
        <span>E-Mail:info@sos-marineservice.com</span>
      </p>
    </dl> 
  </nav>
</div>