<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <%@banners.each_with_index do |b,i|%>
      <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%='active' if i == 0 %>"></li>
    <%end%>
  </ol>
  <div class="carousel-inner" role="listbox">
    <%@banners.each_with_index do |banner,index|%>
      <div class="item <%='active' if index == 0 %>">
        <img src="<%=banner.base_url%>" width="970px">
      </div>
    <%end%>
  </div>
</div>