<div class="footer-container fixie">
	<div class="footer-wrapper">
        <footer class="footer clearfix">
            <div class="group-1"><ul id="menu-header-menu" class="link clearfix"><li class="first menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-44"><a href="http://hansmarine.net/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="http://hansmarine.net/about-us/">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-24 current_page_item menu-item-49"><a href="http://hansmarine.net/our-services/">Our Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="http://hansmarine.net/gallery/">Gallery</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="http://hansmarine.net/careers/">Careers</a></li>
<li class="last menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="http://hansmarine.net/contact-us/">Contact Us</a></li>
</ul>                            
                <p>Copyright © 2015 Han's Marine Pte Ltd. Web Design by <a href="http://www.verzdesign.com/" class="verz" target="_blank">Verz</a> </p>
            </div>
        </footer>
	</div>
</div>