<div class="footer-container fixie">
	<div class="footer-wrapper">
        <footer class="footer clearfix">
            <div class="group-1">
                <address><%=@address.content%></address>
            </div>
        </footer>
	</div>
</div>